header{

    padding: 15px;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    font-size: 35px;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: text-shadow 1s;
}
h1:hover {
    text-shadow: 0.04em 0.04em #fc0049, 0.08em 0.08em #fe8f01,
    0.12em 0.12em #fdf21f, 0.16em 0.16em #3fdf4b, 0.2em 0.2em #3462fe;
}
header{
    text-align: center
}

h1, h2, h3{
    color: skyblue;
    text-decoration: underline;
}
body{
    background-image: url("../images/wallpaper-gif-4.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    font-family: VT323;
    font-size: 24px;
    color: gold;
    text-align: center;
}

#align{
    display: inline-block;
    text-align: left;
    padding: 10px;
}

ul {
    list-style-image: url("../images/pkmn.png");
}

ol {
    list-style-image: url("../images/pkball.png");

}

table, th, td {
    border: 1px solid;
    border-color: deeppink;
}

a:link{
    color: hotpink;
}
a:visited{
    color: orange;
}
a:hover{
    color: paleturquoise;
}
a:active{
    color: white;
}
hr {
    border-color: burlywood
}